---
import { getCollection, type CollectionKey } from "astro:content";
import { Picture } from "astro:assets";

interface Props {
  slug: CollectionKey;
  title: string;
}

const { slug, title } = Astro.props;
const collection = await getCollection(slug);
---

<section>
  <h2 class="font-semibold text-2xl mb-4" id={slug}>{title}</h2>
  <ul class="grid grid-cols-1 gap-4">
    {
      collection.map(({ data }) => (
        <li class="pb-4 flex flex-col gap-1 border-b last:border-b-0 md:pb-0 md:border md:bg-white md:flex-row md:gap-0 md:justify-between">
          {data.imgSrc && (
            <Picture
              src={data.imgSrc}
              alt={data.description}
              formats={["webp", "avif"]}
              class="mb-2 aspect-square object-cover md:m-0 md:max-w-48 md:h-full"
            />
          )}
          <div class="md:p-4 md:order-first flex flex-col justify-center max-w-prose leading-relaxed">
            <h3 class="font-semibold text-lg mb-1">{data.name}</h3>
            <p>{data.description}</p>
          </div>
        </li>
      ))
    }
  </ul>
</section>
