---
import { menu } from "~/constants";
import MenuCard from "~/components/MenuCard.astro";
---

<div class="border p-5 sm:p-7 md:p-8 bg-white">
  <div id="menu" class="flex-1 grid grid-cols-1 gap-12">
    {
      menu.map((category) => (
        <article id="category-section">
          <h2 id={category.id} class="font-bold text-2xl scroll-m-4">
            {category.label}
          </h2>
          <ul class="grid grid-cols-1 gap-12 mt-4">
            {category.items.map((item) => (
              <MenuCard
                name={item.name}
                price={item.price}
                description={item.description}
                imgSrc={item.imgSrc}
              />
            ))}
          </ul>
        </article>
      ))
    }
  </div>
</div>
<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  import "photoswipe/style.css";

  document.addEventListener("DOMContentLoaded", () => {
    const onIdle = window.requestIdleCallback || ((cb) => setTimeout(cb, 1));
    const loadPhotoswipe = () => {
      const lightbox = new PhotoSwipeLightbox({
        gallery: "#menu",
        children: "#dish",
        showHideAnimationType: "fade",
        pswpModule: () => import("photoswipe"),
      });

      lightbox.init();
    };
    onIdle(loadPhotoswipe);
  });
</script>
