---
import { Image } from "astro:assets";

interface Props {
  title: string;
  href: string;
  description: string;
  img: {
    src: string;
    alt: string;
  };
}

const { title, img, href, description } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/popular/*.{jpeg,jpg,png,webp}",
);
---

<li
  class="relative rounded-lg overflow-hidden border-4 border-transparent hover:border-amber-400"
>
  <a
    class="absolute inset-0 opacity-0 hover:opacity-100 bg-gradient-to-b from-transparent to-stone-900 transition-all"
    href={href}
  >
    <span class="absolute top-2 left-2 rounded-full px-2 py-1 bg-amber-400"
      >{title}</span
    >
    <p class="absolute bottom-2 left-2 p-2 text-white">
      {description}
    </p>
  </a>
  <Image
    class="w-full h-full"
    src={images[img.src]()}
    densities={[1.5, 2]}
    format="webp"
    loading="lazy"
    format="webp"
    alt={img.alt}
  />
</li>
