---
import { defaultMeta } from "~/constants";
import Navigation from "~/components/Navigation.astro";
import Footer from "~/components/Footer.astro";
import "@fontsource-variable/brygada-1918";

interface Props {
  title?: string;
  description?: string;
}

const { title = defaultMeta.title, description = defaultMeta.description } =
  Astro.props;

const ogImageURL = new URL(defaultMeta.ogImagePath, Astro.url).href;
---

<!doctype html>
<html lang="en" class="w-full h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#1C1917" />
    <meta name="description" content={description} />
    <link rel="canonical" href={Astro.url} />
    <link rel="icon" type="image/png" href="/logo.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content={defaultMeta.title} />
    <meta property="og:image" content={ogImageURL} />
    <meta
      property="og:image:alt"
      content="logo and name of the site with a dark background"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={ogImageURL} />
    <meta name="twitter:image:alt" content="alt_description" />
  </head>
  <body class="w-full h-full relative bg-stone-100 font-serif">
    <Navigation />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
